footer {
    height: 20vh;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    color: var(--white);
}
@media screen and (max-width: 475px) {
    footer {
        font-size: 24px;
    }
}