nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
nav > .links {
    width: min(500px, 80vw);
    display: flex;
    justify-content: space-between;
}
nav > .links > a {
    font-family: 'Open Sans';
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 475px) {
    nav > .links > a {
        font-size: 18px;
    }
}